.Xauthority
.cache
.cfg
.cfg-bkup*
.config/vim/autoload/plug.vim
.config/google-chrome
.config/vim/plugged
.gnome
.local/share/*
!.local/share/applications
!.local/share/rofi
.node-*
.nvm
.npm
.pki
.ssh
.viminfo
.xsession-errors
.yarn
